@model RpgMvc.Models.PersonagemViewModel
@{
    ViewBag.Title = "Detalhes do Personagem";
}
<h2>Detalhes do Personagem</h2>
<div>
    <hr />
    <dl class="dl=horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.PontosVida)</dt>
        <dd>@Html.DisplayFor(model => model.PontosVida)</dd>

        <dt>@Html.DisplayNameFor(model => model.Forca)</dt>
        <dd>@Html.DisplayFor(model => model.Forca)</dd>

        <dt>@Html.DisplayNameFor(model => model.Defesa)</dt>
        <dd>@Html.DisplayFor(model => model.Defesa)</dd>

        <dt>@Html.DisplayNameFor(model => model.Inteligencia)</dt>
        <dd>@Html.DisplayFor(model => model.Inteligencia)</dd>

        <dt>@Html.DisplayNameFor(model => model.Classe)</dt>
        <dd>@Html.DisplayFor(model => model.Classe)</dd>
    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-6 mt-3">
        @Html.ActionLink("Editar", "Edit", new {id = Model.Id}, new {@class="btn btn-primary"})
        @Html.ActionLink("Retornar", "Index", "Personagens", null, new {@class ="btn btn-warning"})
    </div>
</div>
<!--<p>
@Html.ActionLink("Editar", "Edit", new {id = Model.Id})
    <button class="btn btn-warning">@Html.ActionLink("Retornar", "Index")</button>
</p>-->