<!--Namespace da classe de Modelo-->
@model RpgMvc.Models.UsuarioViewModel
<!--Título da View-->
@{
    ViewBag.Title = "Registrar";
}
<!--Configuração de mensagem temporária-->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<h2>Criação de novos Usuários</h2>
<hr />
<!-- Método que será chamado se o usuário fizer o Post -->
<!-- Forms -->
@using (Html.BeginForm("Registrar", "Usuarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group mt-3">
            <label class="control-label col-md-2">Usuário</label>
            <div class="col-md-4">
                <!--Campo TextBox -->
                <!-- Cria TextBox na tela e armazena no UserName -->
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group mt-3">
            <label class="control-label col-md-2">Senha</label>
            <div class="col-md-4">
                <!--TextBox de Senha-->
                <!-- PasswordFor não mostra a senha na tela -->
            @Html.PasswordFor(model => model.PasswordString, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Registrar" class="btn btn-primary" />
            <!--Exemplo de Link (Texto, View, Controller) -->
        @Html.ActionLink("Retornar", "Index", "Home", null, new { @class = "btn btn-warning" })
        </div>
    </div>
}